@mixin titleAndSubTitle($fontSize) {
    color: white;
    font-size: $fontSize;
    text-shadow: 2px 3px 2px black;
    display: block;
    text-align: center;
}

.container {
    background: $color-purple;
    width: 100%;
    height: 45vh;
    box-shadow: 3px 5px 3px 0 $color-shadow;
    display: grid;
    grid-template-columns: 40% 25% 40%;
    align-items: center;
    justify-items: center;
    
    &__button {
        grid-area: 1 / 3;
        justify-self: left;

        & * {
            font-size: 1.7rem;
        }
    }

    &__title-box {
        justify-self: right;
    }

    &__title {
        @include titleAndSubTitle(5.3rem)
    }

    &__subtitle {
        @include titleAndSubTitle(2.4rem)
    }

    &__card {
        box-shadow: 3px 5px 3px 0 black;
        transform: rotate(-15deg);
    }
}