.howToPlay {
    display: grid;
    grid-template-columns: 40% 60%;

    @media screen and (max-width: $size-medium) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
    }

    &__imageBox {
        display: grid;
        width: 100%;
        grid-template-columns: 23% 35%;
        justify-content: center;
        align-content: center;
        padding: 3rem 0;

        @media screen and (max-width: $size-medium) {
            padding: 2rem 0;
            grid-template-columns: 20% 48%;
            justify-content: right;
        }

        & img {
            transform: rotate(-15deg);
            animation: upAndDown 2.5s infinite;

            @media screen and (max-width: $size-medium) {
                height: 22vh;
            }
        }
    }

    &__textBox {
        padding: 4rem;

        @media screen and (max-width: $size-medium) {
            padding: .5rem 3rem;
        }

        & p {
            font-size: 1.7rem;

            @media screen and (max-width: $size-medium) {
                font-size: 1.4rem;
            }
        }
    }
}

@keyframes upAndDown {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 5px 10px 8px 0 black;
    }

    100% {
        box-shadow: none;
    }
}